<link rel="stylesheet" href="/styles/admin/banner.css">
<main>
  <section>
   {{!-- header section start --}}
  {{> adminheader}}
  {{!-- header section end --}}
    
  </section>


  <section>
      {{!-- catogory page start --}}
    <div class="catogory-section">
                <div class="catogory-table-section">
                    <div class="catogory-table-content">
                         <div class="catogory-head-box">
                            <div class="catogory-heading">
                             <h2>Banner Management</h2>
                           </div>
                           <div class="catogory-btn">
                            <a  href="/admin/addbanner" all="unset"> <button>Add new Banner</button></a>
                           
                           </div>

                         </div>
                       
                       <div class="catogory-table">
                        <div class="catogory-table-heading-box">
                            <div class="catogory-search">
                                <form action="">
                                     <input type="text" placeholder="search here" class="catogory-input">
                                     <button type="submit" class="catogory-input-btn">search</button>

                                </form>
                               
                            </div>
                            <div class="catogory-table-headings">
                                <span class="catogory-table-item-name">Name</span>
                                <span class="catogory-table-item-name">Description</span>
                                <span class="catogory-table-item-name">offer</span>
                                <span class="catogory-table-item-link">links</span>
                                <span class="catogory-table-item-options">image</span>
                                <span class="catogory-table-item-options">Options</span>

                            </div>

                        </div>
                        {{#each banner}}
                        <div class="catogory-table-data-box">
                                <span class="catogory-table-data-name">{{bannername}}</span>
                                <span class="catogory-table-data-name">{{description}}</span>
                                 <span class="catogory-table-data-name">grab {{offer}}% off</span>
                                 <span class="catogory-table-data-link">{{link}}</span>
                                <span class="catogory-table-data-option"><img src="/{{image}}" alt="banner"></span>
                                <span class="catogory-table-data-option">
                                  <div><form action="/admin/banner/edit/{{this._id}}" method="get" style="display:inline;">
                                     <button class="edit-btn" >Edit</button></form>
                                   </div>
                                   <div> <form action="/admin/banner/delete/{{this._id}}" method="post" style="display:inline;">
                                     <button class="delete-btn" >Delete</button></form>
                                   </div>
                                </span>

                        </div>
                        {{/each }}
                        
                       

                       </div>

                    </div>
                    

                </div>
                
     </div>

  {{!-- catogory page end --}}

  </section>
    


</main>