  <link rel="stylesheet" href="/styles/user/home.css">
  {{!-- header section start --}}
  {{> userheader}}
  {{!-- header section end --}}

 <section class="dress-section section-padding">
<div class="dress-heading-section">
  <h3>Your Ordered Products</h3>
  </div> 
 
 <div class="dress-items-section">
    {{#each products}}
      
    <div class="dress-item">
    
      <div class="dress-item-image">
          <a href="/productdetails/{{productId}}" class="image-link"></a>
         {{#each this.images}}
    {{#if @first}}
      
        <img src="/{{this}}" alt="{{../title}}" />
     
    {{/if}}
  {{/each}}
 </a>
      </div>
       
      <div class="dress-item-details">
        <div class="dress-item-name">
          <p>{{productName}}</p>
        </div>
        <div class="dress-item-price">
          <p class="dress-item-price-amount">price : {{productPrice}}</p>
          
        </div>
        <div class="dress-item-price">
          <p class="dress-item-price-amount">quantity : {{this.quantity}}</p>
          
        </div>
         <div class="dress-item-price">
         <p class="dress-item-price-amount">total amount : {{this.amount}}</p>
          
        </div>
        
      

      </div>
     
    </div>
  
     {{/each}}

  </div>

</section>
